<!doctype html>
<html>
    <head>
    </head>
    <body>
        <img scr="gerbtspu118.png">
        <from action="/" method="POST">
            <input name="username" type="text" placeholder ="Enter username">
            <input type="submit" value="push">
        </from>
    </body>
</html>